<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yoochan</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/d736d670df.js" crossorigin="anonymous"></script>
    <script src="main.js" defer></script>
</head>
<body>
    <section class="navbar">
        <ul class="navbar_menu">
            <li data-link="Info">Info</li>
            <li data-link="Hobby">Hobby</li>
            <li data-link="Contact">Contact</li>
        </ul>
    </section>
    <section class="Info">
        <div class="click_ment">Click me!</div>
        <img src="img/my_img.png" alt="" class="my_image">
        <div class="my_info hide">
            <li id="Info_1">국민대학교 소프트웨어학부 19학번</li>
            <li id="Info_2">멋쟁이 사자처럼 9기</li>
            <li id="Info_3">아기사자 최유찬 (Yoochan Choi)</li>
        </div>
    </section>
    <section class="Hobby">
        <div class="hobby_word">취미</div>
        <div class="hobby_guide">Place the cursor on the image!</div>
        <ul class="hobby_list">
            <li class="hobby">
                <img src="img/soccer.png" alt="" class="hobby_img">
                <div class="hobby_description">
                    <div class="hobby_title">축구</div>
                    <div class="hobby_etc">제가 세상에서 제일 좋아하는 것 <br> 코로나라 슬퍼요 ㅠ.ㅠ</div>
                </div>
            </li>
            <li class="hobby">
                <img src="img/coding.png" alt="" class="hobby_img">
                <div class="hobby_description">
                    <div class="hobby_title">코딩</div>
                    <div class="hobby_etc">C++, Java, Python, Html, Css, Javascript <br>사용해본 언어들은 이렇게 있지만 다 못합니다...ㅎ..ㅎ<br>하지만 능숙해지기 위해 노력중입니다.</div>
                </div>
            </li>
            <li class="hobby">
                <img src="img/food.png" alt="" class="hobby_img">
                <div class="hobby_description">
                    <div class="hobby_title">맛집 탐방</div>
                <div class="hobby_etc">최근 갖게 된 관심사 <br>맛집들 혼내주는데에 재미를 느꼈습니다</div>
                </div>
            </li>
            <li class="hobby">
                <img src="img/game.png" alt="" class="hobby_img">
                <div class="hobby_description">
                    <div class="hobby_title">게임</div>
                    <div class="hobby_etc">LOL, 배그, 플스 게임 다 좋아합니당</div>
                </div>
            </li>
        </ul>
    </section>
    <section class="Contact">
        <div class="contact_title">Contact</div>
        <div class="contact_number">
            <i class="fas fa-phone-volume"></i>
            <span>010-9328-3683</span>
        </div>
        <div class="contact_email">
            <i class="fas fa-envelope"></i>
            <span>skcbdlhc129@naver.com</span>
        </div>
        <div class="contact_sns">
            <a href="http://instagram.com/yoo_channn" class="sns" target="_blank">
                <i class="fab fa-instagram-square"></i>
                <div class="sns_title">Instagram</div>
            </a>
            <a href="https://github.com/cychann" class="sns" target="_blank">
                <i class="fab fa-github-square"></i>
                <div class="sns_title">Github</div>
            </a>
        </div>
    </section>
</body>
</html>